.control{
  padding: 2rem 1rem .5rem 1rem;
}
button{
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--pri-color);
  cursor: pointer;
  color: var(--font-color-light);
  border: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
}
button#clear{
  background-color: rgb(242, 54, 54);
  color: rgb(255, 255, 255);
}
button:hover, button#clear:hover{
  background-color: var(--sec-color);
}
