.footer{
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    
}
.footer > * > p{
    min-width: 150px;
}
.footer > * > div{
    border-radius: 5px;
    border: 1px solid #ff028b;
    width: 100%;

}
.footer > * > div:last-child{
    margin-top: 5px;
}
