.logo{
    height: 80px;
}
.header{
    padding: 0 .5rem .5rem;
}
.header > * > input, 
.header > * > * > input,
.header > * > * > div {
    border-radius: 5px;
    border: 1px solid #ff028b;
    min-width: 200px;
}
.header > * > * > div {
}

input#classroom{
    min-width: 50px;
    width: 50px;
}
