.lesson-plan{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.grid-container{
  display: grid;
  grid-template-columns: .3fr repeat(5, 1fr);
  --th: calc(100% - 8px);
  grid-template-rows: calc(var(--th) * 0.05) calc(var(--th) * 0.6) calc(var(--th) * 0.1) calc(var(--th) * 0.1) calc(var(--th) * 0.15);
  gap: 2px;
  background-color: #00addc;
  padding: 2px;
}
.grid-item{
  word-wrap: break-word;
  text-align: center;
  font-size: small;
}
.table-header{
  background-color: var(--bg-color-dark);
  font-weight: bold;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}