:root {
  --pri-color: #00addc;
  --sec-color: #ff028b;
  --font-color-dark: #005972;
  --font-color-light: #ffffff;
  --bg-color-dark: #b2d3dc;
}

@import "./styles/footer.css";
@import "./styles/lessonplan.css";
@import "./styles/canvas.css";
@import "./styles/control.css";
@import "./styles/header.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300;500;700&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  color: var(--font-color-dark);
}
.App {
  max-width: 279mm;
  margin: auto;
}
.flex-container {
  display: flex;
  gap: .5rem;
}
.flex-col{
  flex-direction: column;
}
.flex-end{
  justify-content: flex-end;
  align-items: center;
}
.flex-start{
  justify-content: flex-start;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-space-around{
  justify-content: space-around;
}
.bold{
  font-weight: bold;
}

input{
  min-height: 30px;
  padding : .2rem .5rem;
}
div[contenteditable] {
  background-color: white;
  padding: 5px;
  overflow: auto;
  text-align: left;
}
